/* Reset CSS */
a {
  color: inherit;
  text-decoration: none;
}

button,
input,
textarea {
  font-family: 'Overpass', sans-serif;
}

button:focus,
button:active,
input:focus,
input:active,
textarea:focus,
textarea:active {
  outline: none;
  box-shadow: none;
}

ul,
ol,
li {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

img {
  display: inline-block;
}

/* Global */
:root {
  /* Color */
  --color-orange: hsl(25, 97%, 53%);
  --color-white: hsl(0, 0%, 100%);
  --color-light-grey: hsl(217, 12%, 63%);
  --color-midium-grey: hsl(216, 12%, 54%);
  --color-dark-blue: hsl(213, 19%, 18%);
  --color-very-dark-blue: hsl(216, 12%, 8%);

  /* Font size */
  --font-medium: 15px;

  /* Font weight */
  --weight-medium: 400;
  --weight-bold: 700;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Overpass', sans-serif;
  margin: 0;
  cursor: default;
}

/* Typography */
h1 {
  color: var(--color-white);
}

p {
  color: var(--color-light-grey);
  font-size: var(--font-medium);
}

/* Rating State Component */
body {
  background-color: var(--color-very-dark-blue);
  padding: 50px 0;
}

.rating-state-component {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: var(--color-dark-blue);
  max-width: 345px;
  height: 350px;
  margin: 50px auto;
  padding: 0 25px;
  border-radius: 20px;
}

.star {
  position: absolute;
  top: 30px;
  left: 20px;
  background-color: var(--color-dark-blue);
  color: var(--color-light-grey);
  width: 45px;
  height: 45px;
  padding: 15px 15px;
  margin-right: 5px;
  margin-bottom: 50px;
  border-radius: 100%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.rating-title {
  margin-top: 55px;
  margin-bottom: 15px;
  font-size: 2rem;
}

.rating-state-component p {
  margin-top: 0;
  margin-bottom: 20px;
}

.score-components {
  display: flex;
  justify-content: center;
  align-items: center;
}

.score {
  background-color: var(--color-dark-blue);
  color: var(--color-light-grey);
  width: 45px;
  height: 45px;
  padding: 15px 18px;
  margin-right: 15px;
  margin-bottom: 20px;
  border-radius: 100%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.score:hover {
  background-color: var(--color-orange);
  color: var(--color-white);
  cursor: pointer;
}

.score:active {
  background-color: var(--color-midium-grey);
  color: var(--color-white);
  cursor: pointer;
}

.submit-btn {
  border: none;
  width: 250px;
  height: 40px;
  border-radius: 30px;
  background-color: var(--color-orange);
  color: var(--color-white);
  margin-left: 15px;
}

.submit-btn:hover {
  background-color: var(--color-white);
  color: var(--color-orange);
  cursor: pointer;
}

/* Thankyou State Component */
.thankyou-state-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: var(--color-dark-blue);
  max-width: 345px;
  height: 350px;
  margin: 50px auto;
  padding: 0 25px;
  border-radius: 20px;
}

.thankyou-image {
  display: block;
  margin: 0 auto;
  padding-top: 10px;
}

h2 {
  width: 210px;
  height: 50px;
  border-radius: 30px;
  background-color: var(--color-dark-blue);
  color: var(--color-orange);
  font-size: var(--font-medium);
  font-weight: var(--weight-medium);
  padding: 10px 10px;
  margin-left: 45px;
  margin-top: 30px;
  text-align: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.thankyou-title {
  margin: 0 auto;
  font-size: 2rem;
}

.thankyou-state-component p {
  text-align: center;
  margin-bottom: 50px;
}

.reset-btn {
  position: relative;
  top: 40px;
  left: 250px;
  border: none;
  width: 40px;
  height: 40px;
  padding: 10px 10px;
  border-radius: 30px;
  background-color: var(--color-light-grey);
  color: var(--color-white);
  margin-left: 15px;
  opacity: 0.35;
}

.reset-btn:hover {
  opacity: 0.6;
  cursor: pointer;
}

.hidden {
  display: none;
}

/* >=1440 (Desktop) */
@media screen and (min-width:1280px) {

  /* Rating State Component */
  .rating-state-component {
    max-width: 400px;
    height: 395px;
    margin: 29px auto;
    padding: 0 50px;
    border-radius: 25px;
  }

  /* Thankyou State Component */
  .thankyou-state-component {
    max-width: 400px;
    height: 395px;
    margin: 29px auto;
    padding: 0 50px;
    border-radius: 25px;
  }

  .reset-btn {
    top: 25px;
    left: 260px;
  }
}